<header class="fixed top-0 left-0 right-0 z-99 flex justify-between items-center h-16 md:h-18 px-4 md:px-5 py-4
bg-gradient-to-r from-[#2b50aa] to-[#0339F8] text-white shadow-md">
    <h1 class="!text-xl md:!text-2xl font-semibold !mb-0">Chat</h1>
    
    <div *ngIf="isJoined" class="flex items-center gap-2.5 font-medium" [title]="username">
      <div class="relative">
        <span class="absolute bottom-0.5 right-0.5 block border-2 border-white/80 size-2 md:size-2.5 rounded-full bg-green-400"></span>
        <img class="size-9 rounded-full border-2 border-white/80 object-cover" 
        src="https://images.unsplash.com/photo-1640951613773-54706e06851d?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
        alt="Mon avatar">
      </div>
      
      <div class="flex flex-col gap-0.5">
          <span class="text-sm">{{ username }}</span>
          <span class="text-xs text-gray-200">En ligne</span>
      </div>
    </div>
  </header>