<div class="chat-container">
  <header class="chat-header">
    <h1>Chat en temps réel</h1>
    
    <div *ngIf="isJoined" class="user-status" [title]="username">
      <img class="header-avatar" 
           [src]="'https://ui-avatars.com/api/?name=' + username + '&background=fff&color=296EAC&bold=true'" 
           alt="Mon avatar">
      <span>{{ username }}</span>
    </div>
  </header>

  <!-- Avant de rejoindre la discussion -->
  <div *ngIf="!isJoined" class="join-wrapper">
    <img src="/assets/logo.png" alt="Your Car Your Way Logo" class="logo" style="width: 160px; border: 4px; object-fit: contain; margin-bottom: 12px;">
    <mat-card class="join-card">
      <mat-card-content style="display: flex; flex-direction: column;">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="username" placeholder="Entrez votre nom" />
        </mat-form-field>
        <button mat-raised-button (click)="joinChat()" class="join-button">
          Rejoindre la discussion
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Après avoir rejoint la discussion -->
  <div *ngIf="isJoined" class="chat-wrapper">
    <mat-card class="chat-card">
      <mat-card-content class="message-list" #scrollContainer>
        <div *ngFor="let message of messages" 
             class="message-row" 
             [class.own-row]="message.sender === username">
          
          <img class="avatar" 
               [src]="'https://ui-avatars.com/api/?name=' + message.sender + '&background=random&color=fff'" 
               alt="avatar">
      
          <div class="message-bubble" [class.own-message]="message.sender === username">
            <span class="sender">{{ message.sender }}</span>
            <p class="content">{{ message.content }}</p>
          </div>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions class="input-area">
        <mat-form-field appearance="fill" class="message-input" subscriptSizing="dynamic">
          <input matInput [(ngModel)]="newMessage" placeholder="Écrivez un message..." (keyup.enter)="sendMessage()" />
        </mat-form-field>
        <button mat-flat-button color="accent" class="send-button" (click)="sendMessage()" [disabled]="!newMessage">
          <mat-icon style="margin-inline: 0px;">send</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
