.chat-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Hauteur quasi-totale */
}

.chat-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-inline: 16px;
    background: #296EAC;
    background: linear-gradient(45deg, #296EAC, #4347E2);
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.chat-header h1 {
    font-size: 18px;
    margin-bottom: 0;
}

.badge {
    color: black;
    font-size: 12px;
    background: white;
    padding: 2px 6px;
    border-radius: 12px;
}
  
.user-status {
    font-weight: 500;
}

.join-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.join-card {
    width: 100%;
    max-width: 400px;
}

.join-button {
    width: 100%;
    color: white !important;
    background: #296EAC;
    background: linear-gradient(45deg, #296EAC, #4347E2);
}

.chat-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-top: 70px;
    height: 100%;
    width: 100%;
}

/* Cartes */
.chat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

.message-list {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #f5f5f5;
  }

.message-bubble {
    max-width: 80%;
    padding: 10px 14px;
    border-radius: 18px 18px 18px 2px;
    background: #296EAC;
    background: linear-gradient(45deg, #296EAC, #4347E2);
    color: white !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    align-self: flex-start;
  }

.sender {
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 2px;
    color: white !important;
}
  
.content {
    margin: 0;
    line-height: 1.4;
    color: white !important;
}

/* Zone de saisie */
.input-area {
    display: flex;
    align-items: stretch; /* Force les enfants à avoir la même hauteur */
    gap: 8px;
    padding: 12px 14px !important;
    background: white;
}
  
.message-input {
    flex-grow: 1;
}
  
.full-width {
    width: 100%;
}

.send-button {
    height: auto !important; /* Permet au bouton de suivre le stretch du flexbox */
    border-radius: 0 4px 4px 0 !important; /* Arrondis uniquement à droite */
}